### Це книжка для тестування запуска Jypyter Lab

просто запустити для перевірки що книжка відображається

In [1]:
import pandas as pd

# підготовка простого набору даних
data = {'Name': ['Tom', 'nick', 'krish', 'jack'],
        'Age': [20, 21, 19, 18]}

# Створення DataFrame
df = pd.DataFrame(data)
# Відображення Dataframe
display(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18